<!doctype html>
<html lang="es">
  <head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <title>COPA MUNDIAL FIFA 2026 - Inicio</title>
  <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  <script src="css/tailwindCustom.js"></script>
  <link rel="stylesheet" href="index.css" />
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Montserrat:wght@700;900&display=swap"
    rel="stylesheet" />
</head>
  <body>
    <footer
      class="bg-inverse-surface dark:bg-surface-container-lowest border-t border-outline-variant full-width mt-stack-lg"
    >
      <div
        class="flex flex-col md:flex-row justify-between items-center py-stack-lg px-margin-desktop w-full max-w-container-max mx-auto gap-gutter"
      >
        <div
          class="font-headline-md text-headline-md font-black text-white italic"
        >
          FIFA WORLD CUP 2026
        </div>
        <nav class="flex flex-wrap justify-center gap-stack-md">
          <a
            class="text-inverse-on-surface/80 dark:text-on-surface/80 hover:text-tertiary-fixed transition-colors font-label-sm text-label-sm uppercase opacity-100 hover:opacity-80"
            href="#"
            >Política de Privacidad</a
          >
          <a
            class="text-inverse-on-surface/80 dark:text-on-surface/80 hover:text-tertiary-fixed transition-colors font-label-sm text-label-sm uppercase opacity-100 hover:opacity-80"
            href="#"
            >Términos del Servicio</a
          >
          <a
            class="text-inverse-on-surface/80 dark:text-on-surface/80 hover:text-tertiary-fixed transition-colors font-label-sm text-label-sm uppercase opacity-100 hover:opacity-80"
            href="#"
            >Reglamento del Torneo</a
          >
          <a
            class="text-inverse-on-surface/80 dark:text-on-surface/80 hover:text-tertiary-fixed transition-colors font-label-sm text-label-sm uppercase opacity-100 hover:opacity-80"
            href="#"
            >Centro de Medios</a
          >
          <a
            class="text-inverse-on-surface/80 dark:text-on-surface/80 hover:text-tertiary-fixed transition-colors font-label-sm text-label-sm uppercase opacity-100 hover:opacity-80"
            href="#"
            >Contáctanos</a
          >
        </nav>
        <div
          class="text-inverse-on-surface/80 dark:text-on-surface/80 font-body-md text-body-md text-center md:text-right"
        >
          © 2026 Proyecto Educativo. Todos los derechos reservados. Grupo 4
        </div>
      </div>
    </footer>
  </body>
</html>
